body { background: #EAFFFE; }
h1, h3 { color: #1A97E6; font-family: cursive; font-size: 75px; }
p, li { color: #053E4C; font-family: TimesNewRoman; text-align: left; }
img { border: 5px solid black; }
h2 { color: #0B3B64; font-family: TimesNewRoman; text-align: left; }
th { color: #0B3B64; font-family: TimesNewRoman; text-align: left; }
